.navigation nav{
    border: 1px solid   rgb(196, 187, 187);
    width: 100%;
    float: left;
    text-align: center;
    word-spacing: 35px;
    /* text-decoration: none; */
    font-size: 30px;
    margin-top: 20px;
    background-color: rgb(44, 43, 43);
    border-radius: 10px;
    padding: 15px;
    /* position: fixed; */
   
   
   
}
/* *{
    margin: 0;
    padding: 0;
} */
#nav    a{
    color: rgb(2, 185, 161);
}
body{
    background-color: rgb(115, 180, 238);
}
#heading{
    text-align: center;
    border: 1px solid   rgb(196, 187, 187);
    /* margin-top: 100px; */
    width: 100%;

}